{% extends "user/layout.html" %}

{% block head_tags %}
{% endblock %}

{% block content %}

<div class="flex-fill overflow-y-lg-auto scrollbar bg-body rounded-top-4 rounded-top-start-lg-4 rounded-top-end-lg-0 border-top border-lg shadow-2">
   <main class="container-fluid p-0">
      <div class="px-6 px-lg-7 pt-8 border-bottom">
         <div class="d-flex align-items-center">
            <h1>Auto Payout</h1>
            <div class="hstack gap-2 ms-auto"><button type="button" class="btn btn-sm btn-neutral d-none d-lg-inline-flex"><i class="bi bi-arrow-90deg-right me-2"></i> Export</button> <a href="/pages/page-details.html" class="btn btn-sm btn-primary"><i class="bi bi-plus-lg me-2"></i> Add method</a></div>
         </div>
      </div>
      <div class="table-responsive">
         <table class="table table-hover table-striped table-sm table-nowrap">
            <thead>
               <tr>
                  <th scope="col">Currency</th>
                  <th scope="col">Threshold</th>
                  <th scope="col">Rest Bal</th>
                  <th scope="col">Wallet</th>
                   <th scope="col">Created</th>
                   <th scope="col">Action</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <div class="d-flex align-items-center gap-3 ps-1">
                        <div><span class="d-block text-heading fw-bold">Bitcoin</span></div>
                     </div>
                  </td>
                  <td class="text-xs">BTC <i class="bi bi-arrow-right mx-2"></i> USDT</td>
                  <td>1.23</td>
                  <td>$1,300,000.00</td>
                  <td class="d-none d-xl-table-cell">3 min ago</td>
                  <td class="d-none d-xl-table-cell"><span class="badge badge-lg badge-dot"><i class="bg-success"></i>Active</span></td>
                  <td class="d-none d-xl-table-cell">Needs your attention</td>
                  <td class="text-end"><button type="button" class="btn btn-sm btn-square btn-neutral w-rem-6 h-rem-6"><i class="bi bi-three-dots"></i></button></td>
               </tr>
              
            </tbody>
         </table>
      </div>
   </main>
</div>



<script>
    $(function(){

        var overlay= $("#overlay");
        var loader= $("#loader");
        function loadOn(){
            overlay.css('display', 'block');
            loader.css('display', 'block');
        }
        function loadOff(){
            overlay.css('display', 'none');
            loader.css('display', 'none');
        }
        function getCSRFToken() {
            return $('meta[name=csrf-token]').attr('content');
        }

        function notify(status, msg){
            if(status === "success"){
                $.niceToast.success(msg);
            }else if(status === "error"){
                $.niceToast.error(msg);
            }else if(status === "warning"){
                $.niceToast.warning(msg);
            }else if(status === "info"){
                $.niceToast.info(msg);
            }
        }


        function refresh_page(){
            loadOn()
            $.ajax({
                url: "{{ url_for('settings_general') }}",
                data: {'wallet': 'setup'},
                dataType: "json",
                type: "POST",
                success: function(data){
                    loadOff()
                    if(data.status === "success"){

                    }
                },
                error: function(err1, err2){
                    loadOff()
                    notify('error', 'An error occurred. Please try again later')
                },
                headers: {
                    'X-CSRFToken': getCSRFToken()
                },
            })
        }

        {#refresh_page()#}

        $('.refresh').click(function(){
            refresh_page()
        })

        $('.email-change').click(function (){
            $('.email').attr('readonly', false)
            $(this).toggleClass('d-none')
            $('.email-block').toggleClass('d-none')
        })

        $('.email-cancel').click(function (){
            $('.email').attr('readonly', true).val("{{ current_user.email }}")
            $('.email-change').toggleClass('d-none')
            $('.email-block').toggleClass('d-none')
        })


    })
</script>

{% endblock %}

